version: '3'

services:
  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    ports:
      - "5000:8080"
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend
